#slider {
	margin: 0 auto;
	width: 1093px;
	height: 462px;
	background: ;
}

#slider .control-links {
	bottom: 0;
    display: none;
}

#slider .control-links li.active {
    display: none;
}

#slider img {
    visibility: hidden;
}